.Submit {
  padding: 0px 24px;
  outline: none;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background: none;
  display: flex;
  align-items: center;
  font-weight: 800;
  color: white;
  background-color: rgb(29, 155, 240);
  flex-shrink: 0;
}

.Submit:disabled {
  cursor: initial;
  background-color: rgb(29, 155, 240);
}

.Submit:enabled:hover {
  background-color: rgb(29, 155, 240);
}
