@import '../../App.css';

.sidebarOption {
  display: flex;
  border-radius: 30px;
  align-items: center;
  cursor: pointer;
  width: min-content;
  color: var(--text-color) !important;
  @apply px-4 py-3.5 font-bold;
}

.sidebarOption:hover {
  background-color: var(--sidebar-hover-background);
  color: var(--primary-color);
  transition-property: color background-color;
  transition-duration: 100ms;
  transition-timing-function: ease-out;
}

.sidebarOption > h2 {
  @apply font-normal text-xl mr-4 ml-5;
}

.sidebarActive > h2 {
  @apply font-bold;
}
