@import '../../App.css';

.sidebar {
  display: none;
  flex: 0.2;
  min-width: 220px;
  @apply sticky;
  @apply px-3;
  @apply border-r border-outline;
}

.logo {
  @apply text-text-primary;
}

.logoWrapper {
  @apply px-4 py-3.5;
}

.topSide {
  @apply flex flex-col;
}

.sidebarPost {
  min-width: 190px !important;
  min-height: 50px !important;
  text-transform: inherit !important;
  font-size: 17px !important;
  @apply px-5 mt-5 mr-5 !important;
  @apply font-bold !important;
  @apply border-none rounded-full !important;
  @apply text-white bg-button !important;
}
