@import '../../App.css';

.sidebar {
  border-right: 1px solid var(--separator-color);
  flex: 0.1;
  min-width: 221px;
  @apply px-3;
}

.logo {
  color: var(--white);
}

.logoWrapper {
  @apply px-4 py-3.5;
}

.topSide {
  display: flex;
  flex-direction: column;
}

.sidebarPost {
  background-color: var(--primary-color) !important;
  border: none !important;
  color: var(--white) !important;
  font-weight: 700 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 40px !important;
  margin-top: 20px !important;
  padding: 0 20px !important;
  min-width: 190px !important;
  @apply border-none font-bold px-5;
}
