@import '../../App.css';

.sidebar {
  border-right: 1px solid var(--sidebar-hover-background);
  flex: 0.1;
  min-width: 221px;
  margin-top: 20px;
  padding: 0 20px;
}

.sidebarPost {
  background-color: var(--primary-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 700 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 40px !important;
  margin-top: 20px !important;
  padding: 0 20px !important;
  min-width: 190px !important;
}
