:root {
  --primary-color: #1d9bf0;
  --primary-text-color: #d9d9d9;
  --primary-background: #000;
  --sidebar-hover-background: #d9d9d91a;
}

.app {
  display: flex;
  min-height: 100vh;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 10px;
}
