.themeDark {
  --primary-text-color: 217 217 217;
  --secondary-text-color: 110 118 125;
  --accent-text-color: 27 149 224;
  --primary-background: 0 0 0;
  --secondary-background: 21 24 28;
  --button-color: 29 155 240;
  --outline-color: 47 51 54;
}

.app {
  display: flex;
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
}
